body {
    background-color: lightgrey;
}

h1, h2, h3, .title{
    text-align: center;
}

p {
    color: darkblue;
}

.multi-column-container {
    display: flex;
}

.three-column-item {
    width: calc(100% / 3);
    align-items: center;
    margin: 25px 5px;
    border: 5px groove goldenrod;
    border-radius: 14px;
}

.navitem.current {
    background-color: aquamarine;
    font-style: italic;
}

.navitem :hover{
    background-color: rgb(211, 186, 235);
    font-style: oblique;
}

.no-bullets{
    list-style: none;
}

.audition-information{
    font-weight: bold;
}

.title{
    font-style: italic;
}

.role-list{
    list-style: upper-roman;
    color: black;
}

.carousel-item{
    color: white;
}

.bg-highlight-white-text{
    background: rgba(112, 128, 144, 0.8);
    border-radius: 6rem;
    font-weight: bold;
}