/*Google fonts to reference*/

.tangerine-regular {
    font-family: "Tangerine", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.tangerine-bold {
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

.eb-garamond-lfe-standard {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 400; /*use a value from 400 to 800*/
    font-style: normal;
}

/*****************global site styles*****************/

/****standard page margin below fixed-top navbar****/
.page-start {
    margin-top: 70px;
}

/****************bg colors and fonts****************/
body, .navbar-custom, .ticket-btn {
    background-color: lightgrey;
}

.navitem {
    width: 125px;
    text-align: center;
}

.navitem.current, .lfe-contact-us:hover, .merch-btn, .ticket-btn:hover {
    background-color:aquamarine;
}

.navitem.current {
    font-style: italic;
}

.navitem :hover {
    background-color: rgb(211, 186, 235);
    font-style: oblique;
}

h1 {
    font-family: "Tangerine", cursive;
    font-size: 5rem;
}

h1, h2, h3 {
    text-align: center;
    margin: 1.5rem;
    padding: 12px auto;
}

a, p, h2, h3, h4, h5, h6, button, .form-control, .footer-text {
    font-family: "EB Garamond";
    padding: 1rem;
}

nav {
    border-bottom: 1.5px solid;
}

/*****************home page carousel*****************/

.carousel-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#carouselLFEShows {
    min-width: 720px;
    width: 45%;
}

.bg-highlight-white-text {
    background: rgba(112, 128, 144, 0.8);
    border-radius: 6rem;
    font-weight: bold;
}

/********Auditions page styles******/
.audition-block {
    align-items: center;
    border: 5px groove goldenrod;
    border-radius: 14px;
    margin: 0px 20px;
}

.audition-information {
    font-weight: bold;
}

.title { /*use for italicized elements of in-line spans*/
    font-style: italic;
    margin: 0;
}

.title.centered { /*use for audition column elements*/
    text-align: center;
    font-family: "Tangerine";
    font-size: 1.75rem;
}

.role-list {
    list-style: upper-roman;
}

/********************Contact Us**********************/
.form-control {
    background-color: rgb(245, 245, 220);
}

.lfe-contact-us, .merch-btn {
    padding: 12px 20px;
    margin: 1rem 0;
    font-size: 1.2rem;
    border: none;
    box-shadow: 3px 3px 8px rgb(245, 245, 220,1);
}

.lfe-contact-us:hover, .merch-btn:hover {
    font-style: oblique;
    font-weight: bold;
}

/********************Tickets*************************/
table, th, td{
    border: 1px solid;
}

.ticket-table-container{
    display: flex;
    justify-content: center;
}

.ticket-table{
    border-style: solid;
    border-color: black;
}

.ticket-table.header{
    font-style: italic;
    text-align: center;
}

.ticket-img{
    border-radius: 25px;
    width: 25%;
}

.ticket-img:hover{
    transform: scale(1.05);
    transition-duration: 0.1s;
}

/********************Auditions***********************/
.no-bullets{
    list-style: none;
}

/********************Merch***************************/
.merch-box{
    box-sizing: content-box;
    justify-content: center;
    text-align: center;
}

.merch-img{
    border-radius: 25px;
    width: 15%;
}

.merch-img:hover{
    transform: scale(1.1);
    transition-duration: 0.2s;
}

/********************Footer**************************/
footer{
    border-top: 1.5px solid black;
}

.footer-text{
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    text-align: center;
    justify-content: center;
}